<div class="container-fluid">
  <h2>Entrar</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row form-group">
      <div class="col-md-12"><%= f.label :email, "Email:", class: "col-md-1 control-label" %></div>
      <div class="col-md-8"><%= f.email_field :email, autofocus: true, class: "form-control" %></div>
    </div>

    <div class="row form-group">
      <div class="col-md-12"><%= f.label :password, "Senha:", class: "col-md-1 control-label"%></div>
      <div class="col-md-8"><%= f.password_field :password, autocomplete: "off", class: "form-control" %></div>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="col-md-12 form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

     <div class="col-md-2 padding-top" >
    <%= f.submit 'Entrar', :class => 'button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>