<%= form_for @post, :html => {:class => "form-horizontal center"}  do |f| %>
    <% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "erros") %> que impediu de salvar o formulário:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="form-group">
		<%= f.label :title, "Título:", class: "col-md-1 control-label" %>
		<div class="col-md-12">
		<%= f.text_field :title, class: "form-control" %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :body, "Corpo:", class: "col-md-1 control-label"  %>
		<div class="col-md-12">
		<%= f.text_area :body, class: "form-control" %>
		</div>
		<br><br>

		<div class="col-md-8 padding-top">
		<%= f.submit 'Enviar', :class => 'button' %>
		</div>
	</div>
<% end %>